<div class="row answer-row {{if isDownvoted "downvoted"}}">
  <div class="col-sm-9">
    <p>{{answer.content}}</p>
    <div class="row">
      <div class="col-sm-4">
        {{answer.author}}
      </div>
      <div class="col-sm-4">
        {{moment-from-now answer.timestamp}}
      </div>
      <div class="col-sm-2">
        <span class='make-clickable' {{action 'upVote' answer}}>{{answer.upvotes}} {{fa-icon 'thumbs-up' }}</span>
      </div>
      <div class="col-sm-2">
        <span class='make-clickable' {{action 'downVote' answer}}>{{answer.downvotes}} {{fa-icon 'thumbs-down' }}</span>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    {{update-answer answer=answer updateAnswer='updateAnswer'}}
    <button class="btn btn-danger" {{action 'destroyAnswer' answer}}>Delete Answer</button>
  </div>
</div>
