<div class="row answer-row">
  <div class="col-sm-9">
    <p>{{answer.content}}</p>
    <div class="row">
      <div class="col-sm-4">
        {{answer.author}}
      </div>
      <div class="col-sm-4">
        {{moment-from-now answer.timestamp}}
      </div>
      <div class="col-sm-4">

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    {{update-answer answer=answer updateAnswer='updateAnswer'}}
    <button class="btn btn-danger" {{action 'destroyAnswer' answer}}>Delete Answer</button>
  </div>
</div>
