<h2>{{question.content}}</h2>
<p class='question-content'>{{question.info}}</p>
<p class='byline'>{{question.author}} {{moment-format question.timestamp 'LLL'}}</p>
<div class="row question-buttons">
  <div class="col-sm-4 col-xs-12">
    {{new-answer question=question saveAnswer='saveAnswer'}}
  </div>
  <div class="col-sm-4 col-xs-6">
    {{update-question question=question updateQuestion='updateQuestion'}}
  </div>
  <div class="col-sm-4 col-xs-6">
    <button class='btn btn-danger' {{action 'destroyQuestion' question }}>Delete Question</button>
  </div>
</div>

<h2>How people have answered: </h2>
{{#if question.answers}}
  {{#each sortedAnswers as |answer|}}
    {{answer-tile answer=answer updateAnswer='updateAnswer' destroyAnswer='destroyAnswer' upVote='upVote' downVote='downVote'}}
  {{/each}}
{{else}}
  <h3>No answers yet! Why not add one using the button above?</h3>
{{/if}}
