<button {{action 'toggleModal' class='btn btn-warning'}}>Edit Question</button>

{{#if isShowingModal}}
  {{#modal-dialog close='toggleModal'
    targetAttachment="center"
    translucentOverlay=true
    container-class="wider"}}
    <form>
      <div class="form-group">
        <label for="author">Author:</label>
        {{input value=author id="author" class="form-control" placeholder=question.author}}
      </div>
      <div class="form-group">
        <label for="content">Question:</label>
        {{input value=content id="content" class="form-control" placeholder=question.content}}
      </div>
      <div class="form-group">
        <label for="info">Additional Notes:</label>
        {{input value=info id="info" class="form-control" placeholder=question.info}}
      </div>
      <button {{action 'updateQuestion' question}}>Ask your question</button>
    </form>
    {{/modal-dialog}}
{{/if}}
